<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>会员列表</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="__STATIC__/admin/css/font.css">
        <link rel="stylesheet" href="__STATIC__/admin/css/xadmin.css">
        <script src="__STATIC__/admin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="__STATIC__/admin/js/xadmin.js"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .x-admin-sm .layui-btn-xs {
                height: 22px;
                line-height: 22px;
                padding: 0 5px;
                font-size: 12px;
            }
        </style>
    </head>
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">会员管理</a>
            <a>
              <cite>会员列表</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
<!--                        <div class="layui-card-header">-->
<!--                            <button class="layui-btn" onclick="xadmin.open('添加类型','/admin/classs/create',400,230)"><i class="layui-icon"></i>添加类型</button>-->
<!--                        </div>-->
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                              <thead>
                                <tr>
                                  <th width="60">ID</th>
                                  <th>账号</th>
                                    <th width="80">级别</th>
                                  <th width="80">登录IP</th>
                                  <th width="80">登录时间</th>
                                  <th width="80">状态</th>
                                  <th width="265">操作</th>
                              </thead>
                              <tbody>
                              {volist name="list" id="vo"}
                                <tr>
                                  <td>{$vo.id}</td>
                                  <td>{$vo.username}</td>
                                  <td><span class="layui-badge {$vo.level?'layui-bg-blue':'layui-bg-gray'} level">{$vo.level?"员工":"普通会员"}</span></td>
                                  <td>{$vo.last_login_ip}</td>
                                  <td>{$vo.last_login_time}</td>
                                  <td><span class="layui-badge {$vo.status?'layui-bg-gray':'layui-bg-blue'} status">{$vo.status?"冻结":"正常"}</span></td>
                                  <td class="td-manage">
                                      <a title="改变状态" class="layui-btn  layui-btn-xs layui-btn-normal"  onclick="member_status(this,'{$vo.id}')" href="javascript:;">
                                          <i class="layui-icon">&#xe640;</i> 改变状态
                                      </a>
                                      <a title="改变级别" class="layui-btn  layui-btn-xs layui-btn-warm"  onclick="member_level(this,'{$vo.id}')" href="javascript:;">
                                          <i class="layui-icon">&#xe640;</i> 改变级别
                                      </a>
                                    <a title="删除" class="layui-btn  layui-btn-xs layui-btn-danger"  onclick="member_del(this,'{$vo.id}')" href="javascript:;">
                                      <i class="layui-icon">&#xe640;</i> 删除
                                    </a>
                                  </td>
                                </tr>
                              {/volist}
                              </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                            <div style="text-align: center;">
                                {$list|raw}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script>
      layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });


      /*删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.post("/admin/users/delete/"+id,{},function (res) {
                  layer.msg(res.msg,{icon:1,time:1000},function () {
                      if(res.code==1){
                          $(obj).parents("tr").remove();
                      }
                  });
              });
          });
      }
      /*状态*/
      function member_status(obj,id){
          layer.confirm('确认要改变当前状态吗？',function(index){
              //发异步删除数据
              $.post("/admin/users/status/"+id,{},function (res) {
                  layer.msg(res.msg,{icon:1,time:1000},function () {
                      if(res.code==1){
                          if(res.data.status){
                              //改变标签的颜色
                              $(obj).parents("tr").find("td").find(".status").removeClass("layui-bg-blue").addClass("layui-bg-gray");
                              $(obj).parents("tr").find("td").find(".status").html("冻结");
                          }else{
                              $(obj).parents("tr").find("td").find(".status").removeClass("layui-bg-gray").addClass("layui-bg-blue");
                              $(obj).parents("tr").find("td").find(".status").html("正常");
                          }

                      }
                  });
              });
          });
      }
      /*级别*/
      function member_level(obj,id){
          layer.confirm('确认要改变当前级别吗？',function(index){
              //发异步删除数据
              $.post("/admin/users/level/"+id,{},function (res) {
                  layer.msg(res.msg,{icon:1,time:1000},function () {
                      if(res.code==1){
                          if(res.data.status){
                              $(obj).parents("tr").find("td").find(".level").removeClass("layui-bg-gray").addClass("layui-bg-blue");
                              $(obj).parents("tr").find("td").find(".level").html("员工");
                          }else{
                              $(obj).parents("tr").find("td").find(".level").removeClass("layui-bg-blue").addClass("layui-bg-gray");
                              $(obj).parents("tr").find("td").find(".level").html("普通会员");
                          }
                      }
                  });
              });
          });
      }
    </script>

</html>